{% extends 'base.html' %}
{% load static %}


{% block content %}




<!-- ******************** Travel Destination Starts Here ******************* -->

<div class="travel-destination container-fluid">
    <div class="container">
        <div class="session-title">
            <h2>Popular Destination</h2>
            <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
        </div>
        <div class="destination-row row">
            <div class="col-md-4 descol">
               <div class="destcol">
                   <img src="assets/images/destination/d1.jpg" alt="">
                   <div class="layycover">
                       <h4>Brazil <span class="badge badge-info">5 Places</span></h4>
                   </div>
               </div>
            </div>
            <div class="col-md-4 descol">
               <div class="destcol">
                   <img src="assets/images/destination/d2.jpg" alt="">
                   <div class="layycover">
                       <h4>Malaysia <span class="badge badge-info">5 Places</span></h4>
                   </div>
               </div>
            </div>
            
            <div class="col-md-4 descol">
               <div class="destcol">
                   <img src="assets/images/destination/d3.jpg" alt="">
                   <div class="layycover">
                       <h4>Sri Lanka <span class="badge badge-info">5 Places</span></h4>
                   </div>
               </div>
            </div>
            
            <div class="col-md-4 descol">
               <div class="destcol">
                   <img src="assets/images/destination/d4.jpg" alt="">
                   <div class="layycover">
                       <h4>Canada <span class="badge badge-info">5 Places</span></h4>
                   </div>
               </div>
            </div>
            
            <div class="col-md-4 descol">
               <div class="destcol">
                   <img src="assets/images/destination/d3.jpg" alt="">
                   <div class="layycover">
                       <h4>Vietnam <span class="badge badge-info">5 Places</span></h4>
                   </div>
               </div>
            </div>
            <div class="col-md-4 descol">
               <div class="destcol">
                   <img src="assets/images/destination/d2.jpg" alt="">
                   <div class="layycover">
                       <h4>Thailand <span class="badge badge-info">5 Places</span></h4>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>


<!-- ******************** Popular Packages Starts Here ******************* -->

<section class="container-fluid popular-pack">
    <div class="container">
         <div class="session-title row">
            <h2>Popular Packages</h2>
            <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
        </div>
        <div class="row pack-row">
            <div class="col-md-4">
                <div class="colpack">
                    <img src="assets/images/packages/p1.jpg" alt="">
                    <div class="details row no-margin">
                        <h4>California</h4>
                        <p>United State of America</p>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="colpack">
                    <img src="assets/images/packages/p2.jpg" alt="">
                    <div class="details row no-margin">
                        <h4>California</h4>
                        <p>United State of America</p>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="colpack">
                    <img src="assets/images/packages/p3.jpg" alt="">
                    <div class="details row no-margin">
                        <h4>California</h4>
                        <p>United State of America</p>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="colpack">
                    <img src="assets/images/packages/p4.jpg" alt="">
                    <div class="details row no-margin">
                        <h4>California</h4>
                        <p>United State of America</p>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="colpack">
                    <img src="assets/images/packages/p5.jpg" alt="">
                    <div class="details row no-margin">
                        <h4>California</h4>
                        <p>United State of America</p>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="colpack">
                    <img src="assets/images/packages/p6.jpg" alt="">
                    <div class="details row no-margin">
                        <h4>California</h4>
                        <p>United State of America</p>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<!--################### Tour Review Starts Here #######################--->   

 
 <div class="review container-fluid">
     <div class="container">
          <div class="session-title">
            <h2>What people say about Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin nisi id consequat bibendum. Phasellus at convallis elit. In purus enim, scelerisque id arcu vitae</p>
        </div>
        <div class="row review-row">
            <div class="col-md-6">
                <div class="review-col">
                    <div class="profil">
                      <img src="assets/images/testimonial/member-01.jpg" alt="">  
                    </div>
                    <div class="review-detail">
                        <h4>Canadian Rockies</h4>
                        <p>The sightseeing and activities were better than we even thought! I still can’t believe we did so much in such a short time, but we did not feel stressed. We really loved the tour and would do it all over again in a minute! Thanks.</p>
                        <h6>John Smith</h6>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="review-col">
                    <div class="profil">
                      <img src="assets/images/testimonial/member-02.jpg" alt="">  
                    </div>
                    <div class="review-detail">
                        <h4>Lake Tahoe Adventure</h4>
                        <p>The sightseeing and activities were better than we even thought! I still can’t believe we did so much in such a short time, but we did not feel stressed. We really loved the tour and would do it all over again in a minute! Thanks.</p>
                        <h6>John Smith</h6>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="review-col">
                    <div class="profil">
                      <img src="{% static 'assets/images/testimonial/member-02.jpg' %}" alt="">  
                    </div>
                    <div class="review-detail">
                        <h4>Discover Costa Rica</h4>
                        <p>The sightseeing and activities were better than we even thought! I still can’t believe we did so much in such a short time, but we did not feel stressed. We really loved the tour and would do it all over again in a minute! Thanks.</p>
                        <h6>John Smith</h6>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="review-col">
                    <div class="profil">
                      <img src="{% static 'assets/images/testimonial/member-03.jpg' %}" alt="">  
                    </div>
                    <div class="review-detail">
                        <h4>Canadian Rockies</h4>
                        <p>The sightseeing and activities were better than we even thought! I still can’t believe we did so much in such a short time, but we did not feel stressed. We really loved the tour and would do it all over again in a minute! Thanks.</p>
                        <h6>John Smith</h6>
                        <ul class="rat">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>
 
 
  <!--################### Blog Starts Here #######################--->  
 
    <div class="blog container-fluid">
        <div class="container">
             <div class="session-title row">
                <h2>Our Latest Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin nisi id consequat bibendum. Phasellus at convallis elit. In purus enim, scelerisque id arcu vitae</p>
            </div>
            <div class="row blog-row">
                <div class="col-md-4">
                    <div class="blogcol">
                        <img src="{% static 'assets/images/packages/p1.jpg' %}" alt="">
                          <span>Oct 12, 2019</span> 
                          <h4>Journeys Are Best Measured In New Friends</h4> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blogcol">
                        <img src="{% static 'assets/images/packages/p2.jpg' %}" alt="">
                          <span>Oct 12, 2019</span> 
                          <h4>Morbi sollicitudin nisi id consequat bibendum</h4> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blogcol">
                        <img src="{% static 'assets/images/packages/p3.jpg' %}" alt="">
                          <span>Oct 12, 2019</span> 
                          <h4>Journeys Are Best Measured In New Friends</h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>
 

{% endblock content%}