{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Our Packages</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Packages</li>
            </ul>
        </div>
    </div>
</div>
     
 
       
 <!-- ******************** Popular Packages Starts Here ******************* -->
    
    <section class="container-fluid popular-pack">
        <div class="container">
            {% for product in products %}
            <div class="row pack-row">
                <div class="col-md-4">
                    <div class="colpack">
                        <img src="{{ product.image.url }}" alt="">
                        <div class="details row no-margin">
                            <h4>{{ product.name }}</h4>
                            <p>${{ product.price }}</p>
                            <ul class="rat">
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'batafsil' product.id %}">Batafsil</a></div>
                                </div>
                            </ul>
                            
                        </div>
                    </div>
                </div>

                
            </div>
            {% endfor %}
        </div>
    </section>
        <!-- Bootstrap core JS-->
{% endblock content %}
